.container {
    width: 100%;
    display: flex;
    position: relative;
}

.frame {
    position: relative;
    margin-left: 500px;
    width: 500px;
    overflow: hidden;
    /* border: 20px solid rgb(0, 0, 0); */
}

img {
    width: 500px;
}

